<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Welcome, Please Login!</div>
            <div class="card-body">
                <form action="/auth/spotify" method="GET">
                    <button type=submit>Login with Spotify</button>
                </form>
            </div>
        </div>
    </div>
</div>
          