
<div class="col-md-3 col-sm-6 col-6">
    <div class="row spotify-track-list">
        <div class="col-md-12">
            <img class="track-cover" src={{  images.[0].url }}>
            </br>
            <input class="check-box" type="checkbox" name="playlist" value="{{ id }}">{{ name }}<br>  
        </div>
    </div>
</div>
    