
 
        <div class="col-md-3 col-sm-6 col-6">
            <img class="track-cover" src={{ track.album.images.[0].url }}>
            </br> {{ track.name }} 
            </br>{{ track.album.artists.[0].name }}
            </br>
            <input class="check-box" type="checkbox" name="track" value={{ track.id }} class="saveToDatabase">
    
        </div>
         
         