<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project 2 - mood playlist</title>
    <script src="https://code.jquery.com/jquery.js"></script>
   
</head>

<body>
	{{{ body }}}
</body>

</html>