
<!-- Footer -->
<footer class="footer mt-auto py-3 r">
  <div class="container ">
    <div class="row footer-containe">
      <div class="col-md-12 text-center">
        <div class="flex-center">
          <a class="" href="/landing">
            <i class="fas fa-home app-icon-footer"></i>
          </a>
          <a class="" href="/journal">
            <i class="fas fa-headphones app-icon-footer"></i>
          </a>
          <a class="" href="/playlists">
            <i class="far fa-play-circle app-icon-footer"></i>
          </a>
          <a class="" href="/playlists">
            <i class="fab fa-spotify app-icon-footer"></i>
          </a>

        </div>
      </div>
    </div>
</div>

</footer>






  