<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="card-columns">
                <div class="card">
                    <img src="/assets/img/2.png" class="card-img-top" alt="...">
                </div>
                <div class="card">
                    <img src="/assets/img/4.png" class="card-img-top" alt="...">
                </div>
                <div class="card">
                    <img src="/assets/img/3.png" class="card-img-top" alt="...">
                </div>
                <div class="card">
                    <img src="/assets/img/2.png" class="card-img-top" alt="...">
                </div>
                <div class="card">
                    <img src="/assets/img/4.png" class="card-img-top" alt="...">
                </div>
                <div class="card">
                    <img src="/assets/img/3.png" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>