<div class="container">
    <div class="row playlist-hero">
        <div class="col-md-12 text-center">
            <img class="img-fluid" src="/assets/img/playlist-hero.png">
        </div>
    </div>
</div>