{{> home/index-nav}}
  
<body id="page-top">
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-5 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">MEAMs is an app where you can create the 
              soundtrack to your life...don't be afraid to catch feels!</h1>
          </div>
        </div>
        <div class="col-lg-7 my-auto">
          <div class="device-container">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="/assets/img/app-main-hero.png" class="img-fluid" alt="">
                </div>
                <div class="button text-right">
                  <a href="/" class="btn btn-main screen">Join Now for Free!</a>
                </div>

          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="download bg-primary text-center" id="signup">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="section-heading">Ready to create the Soundtrack to your life!</h2>
        </div>
      </div>
    </div>

<div class="container">


<div class="card-deck">
  <div class="card">
    <img src="/assets/img/2.png" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="/assets/img/3.png" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="/assets/img/4.png" class="card-img-top" alt="...">
  </div>
</div>
        <div class="col-md-8 mx-auto">
        
          <p>Our app is available on any mobile device! Sign in with Spotify to get started!</p>
          <div class="badges">
            <a class="badge-link" href="#"><img src="/assets/img/black-spotify-logo-png-3.png" alt=""></a>
          </div>
        </div>
</div>
  </section>

  <section class="features bkg-col" id="features">
    <div class="container ">
      <div class="section-heading text-center">
        <h2>Cool Features, Unlimited Fun!</h2>
        <p class="text-muted">Check out what you can do inside MEAMs!</p>
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-4 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <img src="/assets/img/device-demo-screen.png" class="img-fluid" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-screen-smartphone text-primary"></i>
                  <h3>Personalised Playlists</h3>
                  <p class="text-muted">create your playlists, then add it to a personal journal entry</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-camera text-primary"></i>
                  <h3>Full Spotify Connectivity</h3>
                  <p class="text-muted">Search for your fave tracks, or search spotify playlists</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-present text-primary"></i>
                  <h3>Free to Use</h3>
                  <p class="text-muted">As always, this app is free to use for any purpose!</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-lock-open text-primary"></i>
                  <h3>Open Source</h3>
                  <p class="text-muted">We would love your input! Contributions welcome via Git Hub.</p>
                  <div class="button">
                  <a href="https://github.com/borucltd/psms" target="_blank" class="btn btn-main">GitHub Repo</a>
                </div>
                </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->
  <section class="cta" >
    <div class="cta-content">
      <div class="container">
        <h2>Stop waiting.<br>Start creating.</h2>
        <a href="#contact" class="btn btn-main">Let's Get Started!</a>
      </div>
    </div>
    <div class="overlay"></div>
  </section>

{{!-- <section class="pricing py-5" id="pricing">
  <div class="container bg-img">
            <div class="col-md-12 mx-auto">
          <h2 class="section-heading">Ready to create the Soundtrack to your life!</h2>
        </div>
    <div class="row">
      
      <!-- Free Tier -->
      <div class="col-lg-4">
        
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            
            <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
            <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
            <h6 class="card-price text-center">$9<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Users</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>50GB Storage</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
            <h6 class="card-price text-center">$49<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited Users</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>150GB Storage</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited</strong> Free Subdomains</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Monthly Status Reports</li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> --}}

<section class="contact bg-primary" id="contact">
    <div class="container">
      <h2>We would
        <i class="fas fa-heart"></i>
        your support!</h2>
        <p>follow us on Instagram @meams_app!</p>
      <ul class="list-inline list-social">
        <li class="list-inline-item social-instagram">
          <a href="https://www.instagram.com/meams_app" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        {{!-- <li class="list-inline-item social-facebook">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li> --}}
      </ul>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; MEAMs 2020. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="#">FAQ</a>
        </li>
      </ul>
    </div>
  </footer>
</body>