<form action="/auth/spotify" method="GET">
    <button type=submit>Login with Spotify</button>
</form>
<form action="/local/login" method="GET">
    <button type=submit>Login with local user</button>
</form>